<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>version</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>mx.com.develop.store.controller.RegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoImg</servlet-name>
        <servlet-class>mx.com.develop.store.controller.CarritoImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mx.com.develop.store.controller.Login</servlet-class>
        <init-param>
            <param-name>roberto</param-name>
            <param-value>clave123</param-value>
        </init-param>
        <init-param>
            <param-name>maria</param-name>
            <param-value>pass123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegistroProducto</servlet-name>
        <servlet-class>mx.com.develop.store.controller.RegistroProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCarrito</servlet-name>
        <servlet-class>mx.com.develop.store.controller.AgregarCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/registro_cliente.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoImg</servlet-name>
        <url-pattern>/carrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroProducto</servlet-name>
        <url-pattern>/admin/registro_producto.do</url-pattern>
    </servlet-mapping>
    <display-name>ContextDevelop</display-name>
    <servlet-mapping>
        <servlet-name>AgregarCarrito</servlet-name>
        <url-pattern>/ventas/agregar_carrito.do</url-pattern>
    </servlet-mapping>
</web-app>
